* {
  margin: 50px 0px 0px 50px;
  list-style-position: inside;
  background-color: rgb(135, 204, 245);
}

h1 {
  font-family: 'Encode Sans Condensed', sans-serif;
  size: 50px;
}

h2 {
  font-family: 'Encode Sans Condensed', sans-serif;
  size: 40px;
}

section {
  font-family: 'Encode Sans Condensed', sans-serif;
  padding: 3vw;
}

ul {
  font-weight: bolder;
  list-style-type: square;
  padding: 2vw;
}

li {
  list-style-type: square;
  padding: 2vw;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

